body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

canvas {
    display: block;
    margin: 0 auto;
    background-color: black;
}
